In [1]:
# Importing the dependencies
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [3]:
# loading the dataset to a dataframe
credit_card_df = pd.read_csv('creditcard.csv')

In [5]:
credit_card_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [7]:
credit_card_df.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [9]:
# information about dataset
credit_card_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [10]:
# distribution of legit transactions and fraudulent transaction
credit_card_df['Class'].value_counts() # this dataset is highly unbalanced

0    284315
1       492
Name: Class, dtype: int64

0 = Normal transaction
1 = Fraudulent transaction

In [11]:
# seperating the data for analysis
legit = credit_card_df[credit_card_df.Class == 0]
fraud = credit_card_df[credit_card_df.Class == 1]

In [14]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [15]:
# statistical measures of the data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [17]:
# compare the values for both transactions
credit_card_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under-sampling
-> Build a sample dataset containing similar distribution of normal transactoins and the fraudulent transactions  
-> Number of Fraudulent Transaction = 492

In [18]:
legit_sample = legit.sample(n=492)

In [19]:
legit_sample.shape

(492, 31)

In [26]:
# concatenate 2 data frames
new_df = pd.concat([legit_sample, fraud], axis = 0)

In [27]:
new_df.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
132294,79932.0,-1.141627,1.126622,1.179389,-1.041187,0.449325,-0.828103,0.782182,0.166518,-0.364178,...,-0.151261,-0.547951,-0.042618,0.015638,-0.316708,-0.264847,-0.354840,-0.181381,5.99,0
155906,106774.0,-0.506390,0.682571,2.358408,-0.084692,-0.072298,-0.390881,0.443929,-0.178234,1.781209,...,-0.324168,-0.578956,-0.261084,-0.106954,0.206957,-0.724781,-0.094491,-0.148827,11.27,0
56712,47549.0,-1.651184,-0.769014,-0.257286,0.588247,3.629854,3.067827,-0.658583,0.924551,-0.183540,...,-0.164752,-0.229955,-0.311372,1.057365,0.119903,-0.234839,0.480532,0.161672,91.04,0
169087,119524.0,-0.062586,0.943902,0.551465,1.007873,0.106394,-0.564462,0.524426,-0.118587,-0.250942,...,-0.231185,-0.460457,0.029823,-0.086518,-0.851563,0.612292,0.277519,0.235976,1.79,0
156710,108762.0,1.998158,0.888713,-1.484097,3.866194,1.304066,-0.136979,0.681647,-0.343790,-0.078060,...,-0.045230,0.176327,0.025807,0.543153,0.417239,0.111032,-0.107303,-0.069436,3.93,0

In [28]:
new_df.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,99776.896341,0.083002,-0.123416,-0.010736,-0.114274,0.094417,-0.113656,-0.044359,-0.048218,0.001345,...,0.022419,-0.028920,0.010890,-0.027530,-0.04861,0.012748,-0.018878,-0.001830,0.002303,84.345691
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.10513,0.041449,0.051648,0.170575,0.075667,122.211321

In [32]:
# split data into features and targets
X = new_df.drop(columns='Class', axis = 1)
Y = new_df['Class']

In [33]:
# split the data into training data and testing data
X_train, X_test, y_train, y_test = train_test_split(X, Y, test_size = 0.2, 
                                                    stratify=Y, random_state=4)

In [35]:
print(X.shape, X_train.shape, X_test.shape)

(984, 30) (787, 30) (197, 30)

In [36]:
# Model Training -> Using Logistic Regression
model = LogisticRegression()

In [37]:
# training the model with training data
model.fit(X_train, y_train)

LogisticRegression()

In [43]:
# Predicting
training_predictions = model.predict(X_train)
predictions = model.predict(X_test)

In [44]:
# accuracy score
training_accuracy = accuracy_score(training_predictions, y_train)
accuracy = accuracy_score(predictions, y_test)

In [47]:
print(training_accuracy) # 93.1% accuracy on training data

0.9313850063532402

In [48]:
print(accuracy) # 90.86% accuracy on test data

0.9086294416243654